#directionTab {
    margin-bottom: 80px;
    .nav-link {
        border: 0;
        color: #fff;
        padding: 0;
        width: 100px;
        height: 100px;
        margin: 0 10px;
        border-radius: 50%;
        &.active {
            background-color: inherit;
        }
        &#food-tab {
            background-color: #D6006C;
        }
        &#shopping-tab {
            background-color: #F38200;
        }
        &#play-tab {
            background-color: #0075C8;
        }
    }
    &-Content {
        .direction-box {
            max-width: 800px;
            margin: 0 auto;
            .inner {
                margin-bottom: 50px;
                .pic {
                    cursor: pointer;
                    .hover-box {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: rgba(87, 47, 35,0.6);
                        opacity: 0;
                        transition: 0.3s;
                    }
                    .plus {
                        width: 50px;
                        height: auto;
                        object-fit: inherit;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        opacity: 0;
                        transition: 0.3s;
                    }
                    &:hover {
                        .hover-box {
                            opacity: 1;
                        }
                        .plus {
                            opacity: 1;
                        }
                    }
                }
                .text {
                    padding: 30px;
                    background-color: #fff;
                    height: 100%;
                    .direction-title {
                        padding-bottom: 30px;
                        margin-bottom: 30px;
                        position: relative;
                        &::after {
                            position: absolute;
                            content: "";
                            width: 100px;
                            height: 3px;
                            background-color: $main-color;
                            bottom: 0;
                            left: 0;
                        }
                    }
                    p {
                        font-size: 17px;
                    }
                    .more {
                        font-size: 15px;
                        width: 70px;
                        height: 70px;
                        background-color: #857160;
                        color: #fff;
                        text-align: center;
                        line-height: 70px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

.direction-detail-box {
    .main-content {
        img {
            margin: 20px 0;
            width: 100%;
        }
        p {
            font-size: 17px;
            line-height: 1.8;
            margin: 0;
        }
    }
}

@media screen and (max-width:991px) {
    #directionTab-Content {
        .direction-box {
            .inner {
                .pic {
                    padding-bottom: 120%;
                }
            } 
        } 
    } 
}

@media screen and (max-width:767px) {
    #directionTab-Content {
        .direction-box {
            .inner {
                .pic {
                    padding-bottom: 50%;
                }
            } 
        } 
    } 
    #directionTab {
        margin-bottom: 40px;
    }
}

@media screen and (max-width:414px) {
    #directionTab {
        .nav-link {
            width: 70px;
            height: 70px;
        }
    } 
}