.floor-tab-box {
    padding-bottom: 20px;
    border-bottom: 2px solid $main-color;
    a {
        display: inline-block;
        // padding: 10px;
        font-weight: 700;
        font-size: 30px;
        margin: 0 10px;
        width: 55px;
        height: 55px;
        text-align: center;
        line-height: 55px;
        transition: 0.3s;
        border-radius: 50%;
        &:hover {
            background-color: $main-color;
            color: #fff;
        }
        &.active {
            background-color: $main-color;
            color: #fff;
        }
    }
}

.brand {
    .pic {
        width: 100%;
        padding-bottom: 75%;
        position: relative;
        background-color: #fff;
        img {
            position: absolute;
            width: 80%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    p {
        margin-top: 10px;
        color: #000;
    }
    &-list {
        li {
            a {
                display: block;
                padding: 10px 0;
                border-bottom: 1px solid $main-color;
                span {
                    &:first-child {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    &-detail {
        background-color: #fff;
        border-radius: 35px;
        padding: 60px;
    }
    &-pic {
        padding: 70px 0;
        img {
            width: 60%;
            display: block;
            margin: 0 auto;
        }
    }
    &-intro {
        border-top: 10px solid #D9D0C9;
        border-bottom: 10px solid #D9D0C9;
        .pic-box {
            width: 40%;
            .pic {
                width: 100%;
                padding-bottom: 75%;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    object-fit: cover;
                }
            }
        }
        .text {
            width: 60%;
            padding-left: 40px;
            font-size: 17px;
            line-height: 1.8;
        }
    }
}

@media screen and (max-width:1200px) {
    .brand-detail {
        padding: 30px;
    }
}

@media screen and (max-width:991px) {
    .brand-intro {
        .pic-box {
            width: 100%;
            margin-bottom: 30px;
        }
        .text {
            width: 100%;
            padding-left: 0;
        }
    } 
}

@media screen and (max-width:767px) {
    .total-floor {
        width: 50% !important;
    }
    .floor-tab-box {
        text-align: center;
    }
    .brand-list {
        display: none;
    }
    .brand-pic {
        padding: 35px 0;
    }
}

@media screen and (max-width:414px) {
    .brand-pic {
        img {
            width: 90%;
        }
    } 
}